<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <style>
        h3{
            text-align: center;
        }
        .join-form{
            text-align: center;
            width: auto;
            height: auto;
        }

    </style>
</head>
<body>
<h3>회원가입</h3>
<div class="join-form">
    <form method="post" action="/users/join">
        <p>ID : <input type="text" name="userId"/></p>
        <p>PW : <input type="password" name="password"/></p>
        <p>EMAIL : <input type="text" name="email"/></p>
        <input type="submit" value="join"/>
    </form>
</div>
</body>
</html>